In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [13]:
edges = pd.read_csv('Nashville meetup data\member-edges.csv')[['member1', 'member2']]
attributes = pd.read_csv('Nashville meetup data\meta-members.csv')
group_attributes = pd.read_csv('Nashville meetup data\meta-groups.csv')
member_to_group = pd.read_csv('Nashville meetup data\member-to-group-edges.csv')

     group_id         category_name
0      339011  Outdoors & Adventure
1    19728145               Dancing
2     6335372   Sports & Recreation
3    10016242                  Tech
4    21174496           Socializing
..        ...                   ...
597  23742545               Fitness
598  20647425                 Music
599  22504351   Sports & Recreation
600  21686664                  Tech
601  19494897               Support

[602 rows x 2 columns]

In [35]:
member_group_category = pd.merge(member_to_group, group_attributes[['group_id', 'category_name']], how = 'left', left_on = 'group_id', right_on = 'group_id')

In [41]:
member_group_category_oh = member_group_category.drop('category_name', axis=1).join(pd.get_dummies(member_group_category['category_name']))

In [54]:
final_attributes = pd.merge(attributes, member_group_category_oh.groupby('member_id').agg('max'), how='left', right_on='member_id', left_on='member_id')

In [72]:
import networkx as nx
import tqdm

In [70]:
G = nx.Graph()

In [74]:
for index, entry in tqdm.tqdm(edges.iterrows()):
    x, y = entry['member1'], entry['member2']
    G.add_edge(x,y)

1176368it [00:42, 27603.27it/s]

1176368