In [2]:
import pandas as pd

In [10]:
PATH = "gplus/105646458226420473639"
edges = pd.read_csv(PATH + '.edges', sep= ' ', header = None)
attributes = pd.read_csv(PATH + '.feat', sep= ' ', header = None)
featnames = pd.read_csv(PATH + '.featnames', sep= '´', header = None)
circles = pd.read_csv(PATH + '.circles', sep= '´', header = None)

attributes = attributes.set_index(0)

C:\Users\david\AppData\Local\Temp\ipykernel_4404\1637087542.py:4: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  featnames = pd.read_csv(PATH + '.featnames', sep= '´', header = None)
C:\Users\david\AppData\Local\Temp\ipykernel_4404\1637087542.py:5: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  circles = pd.read_csv(PATH + '.circles', sep= '´', header = None)

                                                   0
0  LbVVLtAG8Vp\t106303570707670140742\t1030529472...
1  GJ3ZsbjFdWi\t108389036436404903393\t1052938864...

In [91]:
def splitgood(x):
 l = x.split(' ')
 return ''.join(l[1:])

In [92]:
featnames = featnames[0].apply(lambda x: splitgood(x))

for x in featnames[featnames.duplicated()].index:
    featnames[x] = featnames[x] + '_duplicate'

In [93]:
attributes.columns = featnames

In [96]:
for feature in featnames:
    c = attributes[feature].value_counts()
    if c[1] > 100:
        print(f'{feature} count : {c[1]}')

gender:1 count : 3270
gender:2 count : 814
institution: count : 159
job_title:& count : 168
job_title:/ count : 109
job_title:a count : 150
job_title:and count : 406
job_title:engineer count : 108
job_title:i count : 129
job_title:in count : 113
job_title:of count : 167
job_title:photographer count : 761
job_title:photographer, count : 212
job_title:photography count : 155
job_title:software count : 112
job_title:the count : 116